body{
    font-family: "Azeret Mono", monospace;
  
  }



.banner-section{
    background-image: url("../assets/Hero-bg.png");
   max-width: 1440px;
   max-height: 652px;
}
img{
    margin-top: 26px;
}
.banner-content{
    width:100%;
    height:auto;
    margin-bottom: 44px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:32px;
}
.btn-primary{
    background-color: rgb(13, 19, 33);
    font-weight: 600;
    font-size:20px;
    color:white;
padding: 21px 24px;
    border-radius: 8px;
    margin-bottom:44px;
}

/* main content  */

.banner-section-container{
    max-width: 1140px;
    height:1392px;

    background-color:#0D132105;
    margin:0 auto;
    
    text-align: center;
}
.banner-section-content{
display: flex;

margin: 148px auto;
padding: 80px 97px;
}
.banner-text-container{
    width: 50%;
    
    height: 250px;

}
.btn-draw{
    padding: 12px 20px;
    border-radius: none;
    border: 1px solid #999;
    text-decoration: none;
    color:black

}

.banner-image-container{
    width: 50%;
   
    height: 250px;
}

.banner-section-content2 {
    display: flex;
    justify-content: space-between;
    padding: 80px 97px;
}

.title{
    margin: 151px auto;
}


/* Skills SEction  */


.skill-container{
    display: flex;
    gap:30px;
   
}
.skill{
border-radius: 20px;
text-align: center;
}
.skill-html{
    background-color:#a4a9b5b0;
}
.skill-css{
    background-color: #afc2e9;
}
.skill-js{
    background-color: #e9de9b;
}
